        @font-face {
          font-family: 'MyriadPro';
          font-style: normal;
          font-weight: normal;
          src: url(../fonts/MYRIADPRO-REGULAR.woff);
          font-display: swap;
        }