        // Google Fonts:

        /* DMSans */

        @font-face {
          font-family: 'DMSans';
          font-style: normal;
          font-weight: 400;

          font-display: swap;
          src: url('../fonts/dm-sans-v6-latin-regular.woff2') format('woff2'),
            url('../fonts/dm-sans-v6-latin-regular.woff') format('woff');
        }

        @font-face {
          font-family: 'DMSans';
          font-style: normal;
          font-weight: 500;
          font-display: swap;
          src: url('../fonts/dm-sans-v6-latin-500.woff2') format('woff2'),
            url('../fonts/dm-sans-v6-latin-500.woff') format('woff');
        }

        @font-face {
          font-family: 'DMSans';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url('../fonts/dm-sans-v6-latin-700.woff2') format('woff2'),
            url('../fonts/dm-sans-v6-latin-700.woff') format('woff');
        }

        /* Nunito */

        @font-face {
          font-family: 'Nunito';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url('../fonts/nunito-v16-latin-700.woff2') format('woff2'),
            url('../fonts/nunito-v16-latin-700.woff') format('woff');
        }

        /* Poppins */

        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
            url('../fonts/poppins-v15-latin-regular.woff') format('woff');
        }

        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-display: swap;
          src: url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
            url('../fonts/poppins-v15-latin-600.woff') format('woff');
        }

        @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
            url('../fonts/poppins-v15-latin-700.woff') format('woff');
        }

        /* Rubik */

        @font-face {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 300;
          font-display: swap;
          src: url('../fonts/rubik-v12-latin-300.woff2') format('woff2'),
            url('../fonts/rubik-v12-latin-300.woff') format('woff');
        }


        @font-face {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url('../fonts/rubik-v12-latin-regular.woff2') format('woff2'),
            url('../fonts/rubik-v12-latin-regular.woff') format('woff');
        }

        @font-face {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-display: swap;
          src: url('../fonts/rubik-v12-latin-500.woff2') format('woff2'),
            url('../fonts/rubik-v12-latin-500.woff') format('woff');
        }

        @font-face {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url('../fonts/rubik-v12-latin-700.woff2') format('woff2'),
            url('../fonts/rubik-v12-latin-700.woff') format('woff');
        }

        // Other Fonts:

        /* MyriadPro */

        @font-face {
          font-family: 'MyriadPro';
          font-style: normal;
          font-weight: normal;
          font-display: swap;
          src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
        }

        // Awesome Fonts

        @font-face {
          font-family: 'glee';
          font-style: normal;
          font-weight: normal;
          font-display: block;
          src: url('../fonts/glee.woff') format('woff');
        }

        // [class^="icon-"]::before,
        // [class*=" icon-"]::before {
        //   /* use !important to prevent issues with browser extensions that change fonts */
        //   font-family: 'glee' !important;
        //   speak: never;
        //   font-style: normal;
        //   font-weight: normal;
        //   font-variant: normal;
        //   text-transform: none;
        //   line-height: 1;

        //   /* Better Font Rendering =========== */
        //   -webkit-font-smoothing: antialiased;
        //   -moz-osx-font-smoothing: grayscale;
        // }

        // .icon-calendar:before {
        //   content: "\e900";
        // }

        // .icon-user:before {
        //   content: "\e901";
        // }

        // .icon-search:before {
        //   content: "\e902";
        // }

        // .icon-cart:before {
        //   content: "\e903";
        // }

        // .icon-like:before {
        //   content: "\e904";
        // }
