.footer {
  padding: 79px 0 39px;

  &__top {
    border-bottom: 1px solid rgba(163, 187, 200, 0.4);
    margin-bottom: 28px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    // align-items: baseline;
  }

  &__column {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    margin-bottom: 64px;
  }

  &__logo {
    margin-bottom: 15px;
  }

  .contact {
    position: relative;
    max-width: 193px;
    font-style: normal;

    &__address {
      line-height: 1.7;
      margin-bottom: 5px;
    }

    &__tel::before,
    &__mail::before {
      position: absolute;
      left: 0;
      content: "\f095";
      font-family: FontAwesome;
      color: transparent;
      transition: color 0.2s ease, left 0.2s ease;
    }

    &__mail::before{
      content: "\f003";
    }

    &__tel:hover::before,
    &__mail:hover::before {
        left: -15px;
        color: $ground;
    }

    & span {
      text-transform: uppercase;
    }
  }

  &__column-title {
    color: #1f2044;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  &__services,
  &__account-item,
  &__newsletter-text,
  .contact {
    color: #7b7b7b;
    font-family: $rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3;
  }

  &__newsletter-text {
    max-width: 236px;
    line-height: 1.7;
    margin-bottom: 38px;
  }

  .newsletter {
    display: flex;

    &__input {
      min-height: 38px;
      background-color: rgba(252, 215, 182, 0.2);
      padding: 0 15px;
      border: none;
      color: #234969;
      font-size: 12px;
      font-weight: 400;
      min-width: 169px;

      &::placeholder {
        color: #234969;
      }
    }

    &__btn {
      border: none;
      min-height: 38px;
      padding: 0 19px 0 16px;
      background-color: #a3bbc8;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: rgba(252, 215, 182, 0.8);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    color: #7b7b7b;
    font-family: $rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3;
  }

  &__menu-items {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
  }

  &__menu-item {
    color: #7b7b7b;
    font-family: $rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3;

    & span {
      padding: 0 10px;
    }
  }

  &__menu-link {
    max-width: 55px;
    transition: color 0.3s ease;

    &:hover {
      color: $ground;
    }
  }
}