html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "DM Sans", "Tahoma", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: $menu-main-color;
  &.lock {
    overflow: hidden;
  }
}

.main {
  flex: 1 0 auto;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.slick-initialized {
  .slick-slide {
    display: flex;
    justify-content: center;

    @include r(1500) {
      justify-content: space-evenly;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--large {
    max-width: 1800px;
    // @include r($xl) {
    //   max-width: 1200px;
    // }
  }
}

.btn-circle {
  position: relative;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  @include r($md) {
    width: 39px;
    height: 39px;
  }

  &::before {
    content: "";
    @include absolute-center;
    width: 16px;
    height: 16px;
  }
}

.hover-circle {
  width: 45px;
  height: 45px;
  padding: 0;
  border: 0;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    font-family: 'glee';
    font-size: 20px;
    color: $btn-main-bg;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: $btn-main-bg;

    &::before {
      color: #ffffff;
    }
  }

  &:active {
    background-color: orange;
  }

  &:focus {
    outline: $outline;
  }

}

.title {
  font-size: 36px;
  text-align: center;
  color: #191919;

  @include r($lg) {
    font-size: 30px;
  }

  @include r($md) {
    font-size: 21px;
  }

  @include r($sm) {
    font-size: 15px;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include r($lg) {
    margin-bottom: 30px;
  }

  @include r($md) {
    margin-bottom: 20px;
  }

  @include r($sm) {
    margin-bottom: 10px;
  }



  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r($md) {
        margin-right: 20px;
      }

      @include r($sm) {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    padding: 0;
    color: #8b8b8b;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
    cursor: pointer;

    @include r($sm) {
      font-size: 14px;
      font-weight: 500;
    }

    &:hover {
      color: rgba(139, 139, 139, 0.5);
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      color: orange;
    }
  }
}

.button {
  position: relative;
  padding: 23px 101px 23px 27px;
  @include font (Rubik, 500);
  font-size: 15px;
  transition: background-color 0.3s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    width: 22px;
    height: 9px;
  }

  &:hover {
    background-color: rgba(163, 187, 200, 0.6);
  }

  &:focus {
    outline: $outline;
  }

  &:active {
    background-color: orange;
  }

}