@mixin line-clamp($font-size,
  $line-height,
  $lines-to-show) {
  display: block; // Fallback for non-webkit browsers
  display: -webkit-box;
  font-size: rem($font-size);
  max-height: rem(($font-size * $line-height * $lines-to-show)); // Fallback for non-webkit browsers
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

@mixin font($ff, $fw) {
  font-family: $ff, sans-serif;
  font-weight: $fw;
}

