<section class="design">
  <div class="container" data-ref="container-2">
    <h2 class="design__title title">
      New design
    </h2>
    <ul class="filter">
      <li class="filter__item">
        <button class="filter__btn" data-filter="all" type="button">All</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-furnitures2" type="button">Furnitures</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-chairs2" type="button">Chairs</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-lighting2" type="button">Lighting</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-decor2" type="button">Decor</button>
      </li>
    </ul>
    <ul class="design__content">
      <li class="design__item mix category-furnitures2">
        <article class="design-card design-card--row">
          <a class="design-card__link" href="#">
            <h3 class="design-card__subtitle">Beat Flat Pendant Black</h3>
            <div class="design-card__row">
              <p class="design-card__name">Classic</p>
              <img class="design-card__pic" src="images/design-pic-1.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
      <li class="design__item mix category-furnitures2">
        <article class="design-card design-card--row">
          <a class="design-card__link" href="#">
            <h3 class="design-card__subtitle">Lampe Sur Pieds
              Bamboo</h3>
            <div class="design-card__row">
              <p class="design-card__name">Classic</p>
              <img class="design-card__pic" src="images/design-pic-2.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
      <li class="design__item mix category-chairs2">
        <article class="design-card">
          <a class="design-card__link design-card__link--column" href="#">
            <div class="design-card__info">
              <h3 class="design-card__subtitle design-card__subtitle--column">Rattan Rocking
                Chair</h3>
              <p class="design-card__name">Classic</p>
            </div>
            <img class="design-card__pic design-card__pic--column" src="images/design-pic-3.png" alt="Picture of design card">
          </a>
        </article>
      </li>
      <li class="design__item mix category-furnitures2">
        <article class="design-card design-card--row">
          <a class="design-card__link" href="#">
            <h3 class="design-card__subtitle">Rattan Rocking
              Chair</h3>
            <div class="design-card__row">
              <p class="design-card__name">Classic</p>
              <img class="design-card__pic" src="images/design-pic-4.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
      <li class="design__item mix category-chairs2">
        <article class="design-card">
          <a class="design-card__link design-card__link--column" href="#">
            <div class="design-card__info">
              <h3 class="design-card__subtitle design-card__subtitle--column">Rattan Rocking Chair</h3>
              <p class="design-card__name">Classic</p>
            </div>
            <img class="design-card__pic design-card__pic--column" src="images/design-pic-5.png" alt="Picture of design card">
          </a>
        </article>
      </li>
      <li class="design__item mix category-furnitures2">
        <article class="design-card design-card--row">
          <a class="design-card__link" href="#">
            <h3 class="design-card__subtitle">Lampe Sur Pieds
              Bamboo</h3>
            <div class="design-card__row">
              <p class="design-card__name">Classic</p>
              <img class="design-card__pic" src="images/design-pic-6.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>

<div class="videopreview" style="background-image: url(images/video-bg.jpg);">
    <a data-fancybox class="videopreview__link btn-circle"
      href="https://www.youtube.com/watch?v=4rZLRTZc2X0">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25">
        <g>
          <g>
            <path class="videopreview__icon" fill="#fff"
              d="M20.684 14.74L4.64 24.536c-.5.306-1.08.46-1.663.46-.48 0-.96-.105-1.399-.316C.606 24.21 0 23.293 0 22.295V2.7C0 1.701.606.783 1.58.314a3.242 3.242 0 0 1 3.06.143l16.045 9.798c.822.502 1.315 1.343 1.315 2.241 0 .9-.493 1.741-1.315 2.244z" />
          </g>
        </g>
      </svg>
      <span class="sr-only">Play icon that will open the video</span>
    </a>
</div>