<section class="design">
  <div class="container" data-ref="container-2">
    <h2 class="design__title title">
      New design
    </h2>
    <ul class="filter">
      <li class="filter__item">
        <button class="filter__btn" data-filter="all" type="button">All</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-furnitures2" type="button">Furnitures</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-chairs2" type="button">Chairs</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-lighting2" type="button">Lighting</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-decor2" type="button">Decor</button>
      </li>
    </ul>
    <ul class="design__content">
      <li class="design__item mix category-furnitures2">
        <article class="design__card">
          <a class="design__link" href="#">
            <h3 class="design__subtitle">Beat Flat Pendant Black</h3>
            <div class="design__name-pic">
              <p class="design__name">Classic</p>
              <img class="design__pic" src="images/design-pic-1.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
      <li class="design__item mix category-furnitures2">
        <article class="design__card">
          <a class="design__link" href="#">
            <h3 class="design__subtitle">Lampe Sur Pieds
              Bamboo</h3>
            <div class="design__name-pic">
              <p class="design__name">Classic</p>
              <img class="design__pic" src="images/design-pic-2.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
      <li class="design__item mix category-chairs2">
        <article class="design__card">
          <a class="design__link design__link--column" href="#">
            <div class="design__info">
              <h3 class="design__subtitle design__subtitle--column">Rattan Rocking
                Chair</h3>
              <p class="design__name">Classic</p>
            </div>
            <img class="design__pic design__pic--column" src="images/design-pic-3.png" alt="Picture of design card">
          </a>
        </article>
      </li>
      <li class="design__item mix category-furnitures2">
        <article class="design__card">
          <a class="design__link" href="#">
            <h3 class="design__subtitle">Rattan Rocking
              Chair</h3>
            <div class="design__name-pic">
              <p class="design__name">Classic</p>
              <img class="design__pic" src="images/design-pic-4.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
      <li class="design__item mix category-chairs2">
        <article class="design__card">
          <a class="design__link design__link--column" href="#">
            <div class="design__info">
              <h3 class="design__subtitle design__subtitle--column">Rattan Rocking Chair</h3>
              <p class="design__name">Classic</p>
            </div>
            <img class="design__pic design__pic--column" src="images/design-pic-5.png" alt="Picture of design card">
          </a>
        </article>
      </li>
      <li class="design__item mix category-furnitures2">
        <article class="design__card">
          <a class="design__link" href="#">
            <h3 class="design__subtitle">Lampe Sur Pieds
              Bamboo</h3>
            <div class="design__name-pic">
              <p class="design__name">Classic</p>
              <img class="design__pic" src="images/design-pic-6.png" alt="Picture of design card">
            </div>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>

<div class="videopreview " style="background-image: url(images/video-bg.jpg);">
    <a data-fancybox class="videopreview__link btn-circle"
      href="https://www.youtube.com/watch?v=4rZLRTZc2X0">
      <span class="sr-only">Play icon that will open the video</span>
    </a>
</div>