<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <ul class="footer__row">
        <li class="footer__column">
          <a class="logo footer__logo" href="#">
            <img class="logo__img" src="images/icons/logo.png" width="146" height="39" alt="Logo">
          </a>
          <address class="contact">
            <p class="contact__address">
              <span>Address:</span>
              4772 Wines Lane Houston, TX 77032
            </p>
            <p>
              <span>Telephone:</span>
              <a class="contact__tel" href="tel:+8323475843">
                +832-347-5843
              </a>
            </p>
            <p>
              <span>Email:</span>
              <a class="contact__mail" href="mailto:contact@glee.com">
                contact@Glee.com
              </a>
            </p>
          </address>
        </li>
        <li class="footer__column footer__column--order">
          <p class="footer__column-title">Services</p>
          <ul class="footer__services">
            <li class="footer__service">
              <a class="footer__service-link" href="#">About us</a>
            </li>
            <li class="footer__service">
              <a class="footer__service-link" href="#">Return Policy</a>
            </li>
            <li class="footer__service">
              <a class="footer__service-link" href="#">Our Blog</a>
            </li>
            <li class="footer__service">
              <a class="footer__service-link" href="#">Contact Us</a>
            </li>
            <li class="footer__service">
              <a class="footer__service-link" href="#">Terms & Condition</a>
            </li>
          </ul>
        </li>
        <li class="footer__column footer__column--order">
          <p class="footer__column-title">Account</p>
          <ul class="footer__account-items">
            <li class="footer__account-item">
              <a class="footer__account-link" href="#">Your Account</a>
            </li>
            <li class="footer__account-item">
              <a class="footer__account-link" href="#">Checkout</a>
            </li>
            <li class="footer__account-item">
              <a class="footer__account-link" href="#">Login</a>
            </li>
            <li class="footer__account-item">
              <a class="footer__account-link" href="#">Register</a>
            </li>
          </ul>
        </li>
        <li class="footer__column">
          <p class="footer__column-title">Newsletter</p>
          <div class="footer__newsletter">
            Subscribe by our newsletter and get
            update protidin.
          </div>
          <form action="#" class="newsletter">
            <label class="newsletter__label">
              <input class="newsletter__input" type="email" name="email" placeholder="Email address">
            </label>
            <button class="newsletter__btn" type="submit">Subscribe</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        ©2020 CopyRight Example. All rights reserved.
      </div>
      <nav class="footer__menu">
        <ul class="footer__menu-items">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Home</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">About</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Blog</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>