 <header class="header">
   <h1 class="sr-only">Glee online store</h1>
   <div class="container container--large">
     <nav class="header__inner">
       <a class="logo header__logo" href="#">
         <img class="logo__img" src="images/icons/logo.png" alt="Logo" width="146" height="39">
         <span class="sr-only">Logo of the site</span>
       </a>
       <div class="menu">
         <ul class="menu__list">
           <li class="menu__item">
             <a class="menu__link" href="#">Home <span>+</span></a>
           </li>
           <li class="menu__item">
             <a class="menu__link" href="#">About</a>
           </li>
           <li class="menu__item">
             <a class="menu__link" href="#">Services</a>
           </li>
           <li class="menu__item">
             <a class="menu__link" href="#">Pages <span>+</span></a>
           </li>
           <li class="menu__item">
             <a class="menu__link" href="#">News</a>
           </li>
           <li class="menu__item">
             <a class="menu__link" href="#">Contact</a>
           </li>
         </ul>
       </div>
       <div class="user-nav">
         <button class="btn-circle user-nav__search" type="button">
           <span class="sr-only">A button that opens a search field site</span>
         </button>
         <div class="user-nav__links">
           <a class="user-nav__heart" href="#">
             <span class="user-nav__num">0</span>
             <span class="sr-only">Number of products you liked</span>
           </a>
           <a class="user-nav__cart" href="#">
             <span class="user-nav__num">0</span>
             <span class="sr-only">Number of products in the basket</span>
           </a>
         </div>
         <button class="btn-circle user-nav__user" type="button">
           <span class="sr-only"> A button that opens an user menu</span>
         </button>
       </div>
     </nav>
   </div>
 </header>