<section class="insights-articles">
  <div class="container">
    <div class="insights-articles__row">
      <h2 class="insights-articles__title title">
        Our Insights & Articles
      </h2>
      <a class="insights-articles__link-more" href="#">View All</a>
    </div>

    <ul class="insights-articles__column">
      <li class="insights-articles__item">
        <article class="news-card">
          <a class="news-card__link" href="#">
            <img class="news-card__pic" src="images/insights-articles-1.jpg" alt="picture with news">
            <p class="news-card__category">News</p>
            <h3 class="news-card__text">
              Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </h3>
            <div class="news-card__time">
              <time class="news-card__date">
                28 january, 2020
              </time>
              <div class="news-card__author">by admin</div>
            </div>
          </a>
        </article>
      </li>
      <li class="insights-articles__item">
        <article class="news-card">
          <a class="news-card__link" href="#">
            <img class="news-card__pic" src="images/insights-articles-2.jpg" alt="picture with news">
            <p class="news-card__category">News</p>
            <h3 class="news-card__text">
              Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            </h3>
            <div class="news-card__time">
              <time class="news-card__date">
                28 january, 2020
              </time>
              <div class="news-card__author">by admin</div>
            </div>
          </a>
        </article>
      </li>
      <li class="insights-articles__item">
        <article class="news-card">
          <a class="news-card__link" href="#">
            <img class="news-card__pic" src="images/insights-articles-3.jpg" alt="picture with news">
            <p class="news-card__category">News</p>
            <h3 class="news-card__text">
              Rncididunt ut labore et dolore magna aliqua. Ut enim
            </h3>
            <div class="news-card__time">
              <time class="news-card__date">
                28 january, 2020
              </time>
              <div class="news-card__author">by admin</div>
            </div>
          </a>
        </article>
      </li>
    </ul>

    <ul class="slider-brand">
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-1.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-2.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-3.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-4.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-5.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-1.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-2.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-3.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-4.png" alt="Brand picture">
      </li>
      <li class="slider-brand__item">
        <img class="slider-brand__pic" src="images/slider-brand-5.png" alt="Brand picture">
      </li>
    </ul>

  </div>
</section>