    <section class="presentation">
      <h2 class="sr-only">Presentation of store</h2>
      <div class="container container--large">
        <ul class="slider-product">
          <li class="slider-product__item">
            <div class="slider-product__inner">
              <div class="slider-product__name">Smart and trendy</div>
              <div class="slider-product__text">
                <p> Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt</p>
              </div>
              <a class="slider-product__link" href="#">
                Shop Now
              </a>
            </div>
            <img class="slider-product__pic" src="images/slider-pic.png" width="640" height="264"
              alt="Slider picture">
          </li>
          <li class="slider-product__item">
            <div class="slider-product__inner">
              <div class="slider-product__name">Smart and trendy</div>
              <div class="slider-product__text">
                <p> Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt</p>
              </div>
              <a class="slider-product__link" href="#">
                Shop Now
              </a>
            </div>
            <img class="slider-product__pic" src="images/slider-pic.png" width="640" height="264"
              alt="Slider picture">
          </li>
          <li class="slider-product__item">
            <div class="slider-product__inner">
              <div class="slider-product__name">Smart and trendy</div>
              <div class="slider-product__text">
                <p> Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt</p>
              </div>
              <a class="slider-product__link" href="#">
                Shop Now
              </a>
            </div>
            <img class="slider-product__pic" src="images/slider-pic.png" width="640" height="264"
              alt="Slider picture">
          </li>
        </ul>
        <div class="features">
            <ul class="features__items">
              <li class="features__item features__item--icon1">
                <h3 class="features__title">Support 24/7.</h3>
                <div class="features__text features__text--text1">
                  <p>Contact us 24 hours a day,
                    7 days a week.</p>
                </div>
              </li>
              <li class="features__item features__item--icon2">
                <h3 class="features__title">Delivery.</h3>
                <div class="features__text">
                  <p>Free shipping on all US order.</p>
                </div>
              </li>
              <li class="features__item features__item--icon3">
                <h3 class="features__title">100% Payment secure.</h3>
                <div class="features__text">
                  <p>We ensure secure payment
                    with PEV.</p>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </section>