<section class="products-week">
  <div class="container" data-ref="container-1">
    <h2 class="title products-week__title">Products of the week</h2>
    <ul class="filter">
      <li class="filter__item">
        <button class="filter__btn" data-filter="all" type="button">All</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-furnitures" type="button">Furnitures</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-chairs" type="button">Chairs</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-lighting" type="button">Lighting</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter=".category-decor" type="button">Decor</button>
      </li>
    </ul>
    <ul class="products-week__content">
      <li class="products-week__item mix category-furnitures">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/wooden-radio.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">Wooden radio</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-chairs">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/wooden-chair.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">Wooden chair</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-chairs">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/white-chair.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">White chair</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-furnitures">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/retro-table.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">Retro table</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-furnitures">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/wooden-radio2.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">Wooden radio</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-chairs">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/wooden-chair2.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">Wooden chair</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-chairs">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/white-chair2.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">White chair</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item mix category-furnitures">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/retro-table2.png" alt="the product image">
            <div class="product-card__info">
              <h3 class="product-card__name">Retro table</h3>
              <p class="product-card__price"><span>$</span>29.00</p>
            </div>
          </a>
          <div class="product-card__interaction">
            <a class="product-card__link-info btn-circle" href="#">
              <span class="sr-only">View product details </span>
            </a>
            <button class="product-card__cart btn-circle" type="button">
              <span class="sr-only">Add this product to the cart</span>
            </button>
            <button class="product-card__like btn-circle" type="button">
              <span class="sr-only">Add this product to favorites </span>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
  <div class="container container--large">
    <div class="product-special">
      <div class="product-special__row">
        <div class="product-special__inner">
          <img class="product-special__pic" src="images/ps1.png" width="233" height="405" alt="Special product image">
          <div class="product-special__description">
            <div class="product-special__name">
              <p>Mirum Notare Tellus</p>
            </div>
            <div class="product-special__text">
              <p>LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight</p>
            </div>
            <a class="product-special__link" href="#">View More</a>
          </div>
        </div>
        <div class="product-special__inner">
          <img class="product-special__pic product-special__pic--margin" src="images/ps2.png" width="233" height="405"
            alt="Special product image">
          <div class="product-special__description">
            <div class="product-special__name">
              <p>Malesuada Tempor
                Euismod</p>
            </div>
            <div class="product-special__text">
              <p>50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight</p>
            </div>
            <a class="product-special__link" href="#">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>