.header {
  flex: 0 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0 44px;

  @include r($lg) {
    padding: 30px 0;
  }

  @include r($md) {
    padding: 20px 0;
  }

  @include r($sm) {
    padding: 10px 0;
  }
}

.menu-btn {
  display: none;
  transition: transform 0.3s ease;

  @include r($lg) {
    z-index: 3;
    border: none;
    padding: 0;
    margin-right: 14px;
    background-color: transparent;
    @include hamburger ($color: $color-secondary,
      $color-hover: $color-main,
      $width: 20px,
      $height: 20px,
      $weight: 2px,
      $bars: 3);
  }

  &.open-menu {
    transform: rotate(90deg) translate(0, 0);
  }
}

.logo {
  z-index: 5;
  display: flex;
  align-items: center;


  &__img {
    object-fit: scale-down;

    @include r($sm) {
      width: 80px;
      height: 30px;
    }
  }

  &:focus {
    outline: $outline;
  }
}

.menu {

  &__list {
    display: flex;

    @include r($lg) {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      position: fixed;
      z-index: 1;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 126px 30px 30px;
      transition: left 0.3s ease;
      // overflow: auto;
    }

    @include r($md) {
      padding: 94px 30px 30px;
    }

    @include r($sm) {
      padding: 65px 30px 30px;
    }

    &::before {
      @include r($lg) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 111px;
        background-color: #ffffff;
      }

      @include r($md) {
        height: 79px;
      }

      @include r($sm) {
        height: 50px;
      }
    }

    &.open-menu {
      @include r($lg) {
        left: 0;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;

      @include r($xl) {
        margin-right: 20px;
      }

      @include r($lg) {
        // margin-bottom: 30px;
        margin-right: 0;
      }
    }

    @include r($lg) {
      display: flex;
    }
  }

  &__link {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;

    @include r($lg) {
      font-size: 24px;
      flex: 100%;
      padding: 5px 0;
    }

    &:hover {
      color: $color-main;
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      color: orange;
    }

    // &:visited {
    //   color: $menu-main-color;
    // }
  }
}

.user-nav {
  display: flex;
  z-index: 5;

  @include r($md) {
    align-items: center;
  }

  @include r($lg) {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &__search {
    background-color: rgba(163, 187, 200, 0.2);
    margin-right: 21px;
    border: none;
    cursor: pointer;

    @include r($md) {
      margin-right: 10px;
    }

    @include r($sm) {
      display: none;
    }

    &.open-menu {
      @include r($sm) {
        display: block;
        z-index: 5;
        margin-right: 10px;
        width: 32px;
        height: 32px;
      }
    }

    &::before {
      background-image: url(../images/icons/search.svg);
    }

    &:hover {
      background-color: rgba(163, 187, 200, 1);
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      background-color: orange;
    }
  }

  &__links {
    margin-right: 18px;
    position: relative;
    display: flex;

    &.open-menu {
      @include r($sm) {
        display: none;
      }
    }

    @include r($md) {
      margin-right: 10px;
    }

    @include r($sm) {
      margin-right: 5px;
    }

    &::before {
      content: "";
      @include absolute-center;
      background-color: rgba(255, 255, 255, 0.4);
      width: 1px;
      height: 32px;
      z-index: 1;
    }
  }

  &__heart,
  &__cart {
    position: relative;
    width: 89px;
    height: 51px;
    background-repeat: no-repeat;
    background-color: $color-main;
    background-position: center;
    transition: background-color 0.3s ease;

    @include r($md) {
      width: 60px;
      height: 39px;
    }

    @include r($sm) {
      width: 50px;
      height: 30px;
    }

    &:focus {
      outline: $outline;
    }

    &:hover {
      background-color: rgba(252, 215, 182, 0.6);
    }

    &:active {
      background-color: orange;
    }
  }

  &__heart {
    background-image: url(../images/icons/heart.svg);
    border-radius: 50px 0 0 50px;
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    color: $color-secondary;
    font-size: 10px;
    font-weight: 400;

    @include r($md) {
      top: 5px;
      right: 12px;
    }

    @include r($sm) {
      top: 3px;
      right: 9px;
      width: 14px;
      height: 14px;
    }
  }

  &__cart {
    background-image: url(../images/icons/cart.svg);
    border-radius: 0 50px 50px 0;
  }

  &__user {
    background-color: rgba(163, 187, 200, 1);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;

    &.open-menu {
      @include r($sm) {
        display: block;
        z-index: 5;
        width: 32px;
        height: 32px;
      }
    }

    @include r($sm) {
      display: none;
    }

    &::before {
      width: 20px;
      height: 21px;
      background-image: url(../images/icons/user.svg);
    }

    &:hover {
      background-color: rgba(163, 187, 200, 0.6);
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      background-color: orange;
    }
  }
}