.header {
  flex: 0 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0 44px;
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    object-fit: scale-down;
  }

  &:focus {
    outline: $outline;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__link {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $ground;
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      color: orange;
    }

    // &:visited {
    //   color: $default;
    // }
  }
}

.user-nav {
  display: flex;

  &__search {
    background-color: rgba(163, 187, 200, 0.2);
    margin-right: 21px;
    border: none;
    cursor: pointer;

    &::before {
      background-image: url(../images/icons/search.svg);
    }

    &:hover {
      background-color: rgba(163, 187, 200, 1);
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      background-color: orange;
    }
  }

  &__links {
    margin-right: 18px;
    position: relative;
    display: flex;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgba(255, 255, 255, 0.4);
      width: 1px;
      height: 32px;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &__heart,
  &__cart {
    position: relative;
    width: 89px;
    height: 51px;
    background-repeat: no-repeat;
    background-color: $ground;
    background-position: center;
    transition: background-color 0.3s ease;

    &:focus {
      outline: $outline;
    }

    &:hover {
      background-color: rgba(252, 215, 182, 0.6);
    }

    &:active {
      background-color: orange;
    }
  }

  &__heart {
    background-image: url(../images/icons/heart.svg);
    border-radius: 50px 0 0 50px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 8px;
    right: 26px;
    text-align: center;
    color: $title;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }

  &__cart {
    background-image: url(../images/icons/cart.svg);
    border-radius: 0 50px 50px 0;
  }

  &__user {
    background-color: rgba(163, 187, 200, 1);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;

    &::before {
      width: 20px;
      height: 21px;
      background-image: url(../images/icons/user.svg);
    }

    &:hover {
      background-color: rgba(163, 187, 200, 0.6);
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      background-color: orange;
    }
  }
}