.insights-articles {
  position: relative;
  padding-top: 119px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 437px;
    width: 100%;
    background-color: $color-main;
    opacity: 0.2;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  &__link-more {
    position: relative;
    color: #262626;
    min-width: 86px;
    max-height: 16px;
    transition: color 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 2px;
      width: 7px;
      height: 12px;
      background-image: url(../images/icons/link-more.svg);
    }

    &:hover {
      color: $color-main;
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      color: orange;
    }
  }

  &__column {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__card {
    width: 370px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-main;
    }

    &:active {
      background-color: orange;
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &:focus {
      outline: $outline;
    }

    &::before {
      content: 'news';
      position: absolute;
      left: 28px;
      top: 233px;
      width: 103px;
      padding: 5px 0;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      font-family: Poppins;
      font-size: 14px;
      line-height: 1.4;
      border-radius: 30px;
      background-color: #a3bbc8;
    }
  }

  &__pic {
    max-width: 370px;
    max-height: 250px;
    margin-bottom: 36px;
    object-fit: scale-down;
  }

  &__text {
    align-self: flex-end;
    height: 56px;
    max-width: 286px;
    margin-bottom: 18px;
    margin-right: 55px;
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    @include line-clamp (18, 1, 3);
  }

  &__date-author {
    display: flex;
    width: 315px;
    padding-top: 10px;
    color: #222933;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    border-top: 1px solid #e0e0e0;
    @include font (MyriadPro, 400)
  }

  &__date {
    margin-right: 30px;
  }

}

.slider-brand {
  z-index: 1;
  padding: 94px 0 89px 0;

  &__item {
    height: 84px;

    &:focus {
      outline: $outline;
    }
  }

  &__pic {
    max-width: 167px;
    max-height: 84px;
    object-fit: scale-down;
  }
}