.insights-articles {
  position: relative;
  padding-top: 119px;

  @include r($xl) {
    padding-top: 30px;
  }

  @include r($md) {
    padding-top: 20px;
  }

  @include r($sm) {
    padding-top: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 437px;
    width: 100%;
    background-color: $color-main;
    opacity: 0.2;

    @include r($xl) {
      height: 315px;
    }

    @include r($md) {
      height: 295px;
    }

    @include r($sm) {
      height: 275px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    align-items: center;

    @include r($xl) {
      margin-bottom: 30px;
    }

    @include r($md) {
      margin-bottom: 20px;
    }

    @include r($sm) {
      margin-bottom: 10px;
      align-items: baseline;
    }
  }

  &__link {
    position: relative;
    color: #262626;
    min-width: 86px;
    max-height: 16px;
    transition: color 0.3s ease;

    @include r($md) {
      font-size: 14px;
    }

    @include r($sm) {
      font-weight: 500;
      min-width: 70px;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 2px;
      width: 7px;
      height: 12px;
      background-image: url(../images/icons/link-more.svg);

      @include r($sm) {
        top: 1px;
      }
    }

    &:hover {
      color: $color-main;
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      color: orange;
    }
  }

  &__column {
    display: flex;

    @include r($xxl) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r($xl) {
        margin-bottom: 30px;
      }

      @include r($md) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}

.news-card {
  max-width: 370px;
  background-color: #ffffff;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 5px;
  transition: background-color 0.3s ease;

  @include r($sm) {
    max-width: 280px;
  }

  &:hover {
    background-color: $color-main;
  }

  &:active {
    background-color: orange;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &:focus {
      outline: $outline;
    }
  }

  &__pic {
    max-width: 370px;
    max-height: 250px;
    margin-bottom: 36px;
    object-fit: scale-down;

    @include r($sm) {
      max-width: 280px;
    }
  }

  &__category {
    position: absolute;
    left: 28px;
    top: 233px;
    width: 103px;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 30px;
    background-color: #a3bbc8;

    @include r($sm) {
      top: 175px;
      left: 10px;
    }
  }

  &__text {
    align-self: flex-end;
    min-height: 56px;
    max-width: 286px;
    margin-bottom: 18px;
    margin-right: 55px;
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    @include line-clamp (18, 1, 6);

    @include r($sm) {
      max-width: 260px;
      margin-right: 10px;
    }
  }

  &__time {
    display: flex;
    width: 315px;
    padding-top: 10px;
    padding-bottom: 19px;
    color: #222933;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    border-top: 1px solid #e0e0e0;
    @include font (MyriadPro, 400);

    @include r($sm) {
      max-width: 260px;
    }
  }

  &__date,
  &__author {
    &::before {
      font-family: 'glee';
      margin-right: 5px;
      color: $btn-main-bg;
    }
  }

  &__date {
    margin-right: 30px;

    &::before {
      content: "\e900";
    }
  }

  &__author {
    &::before {
      content: "\e901";
    }
  }
}

.slider-brand {
  z-index: 1;
  padding: 94px 0 89px 0;

  @include r($xl) {
    padding: 30px 0;
  }

  @include r($md) {
    padding: 20px 0;
  }

  @include r($sm) {
    padding: 10px 0;
  }

  &__item {
    height: 84px;

    &:focus {
      outline: $outline;
    }
  }

  &__pic {
    max-width: 167px;
    max-height: 84px;
    object-fit: scale-down;

    @include r($md) {
      max-width: 67px;
    }

    @include r($sm) {
      max-width: 40px;
    }
  }
}