.slider-product {

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 820px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $color-main;

    &:before {
      content: "";
      position: absolute;
      top: 99px;
      right: 185px;
      width: 634px;
      height: 634px;
      background-image: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      border-radius: 50%;
    }
  }

  &__inner {
    max-width: 415px;
    margin-right: 123px;
  }

  &__name {
    margin-bottom: 23px;
    color: $color-secondary;
    @include font (Rubik, 500);
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    @include line-clamp(72,
      1,
      3);
  }

  &__text {
    margin-bottom: 62px;
    color: $menu-main-color;
    @include font (Rubik, 400);
    font-size: 18px;
    line-height: 1.66;
    max-width: 390px;
    @include line-clamp(18,
      1.66,
      4);
  }

  &__link {
    position: relative;
    padding: 23px 101px 23px 27px;
    color: #ffffff;
    @include font (Rubik, 500);
    font-size: 15px;
    line-height: 1;
    background-color: rgba(163, 187, 200, 1);
    transition: background-color 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      right: 19px;
      top: 26px;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/slider-arrow.svg);
    }

    &:hover {
      background-color: rgba(163, 187, 200, 0.6);
    }

    &:focus {
      outline: $outline;
    }

    &:active {
      background-color: orange;
    }
  }

  &__pic {
    z-index: 1;
    object-fit: scale-down;
  }
}

.slick-dots {
  position: absolute;
  left: 47%;
  bottom: 45px;
  display: flex;

  li {
    &:not(:last-child) {
      margin-right: 9px;
    }
  }

  button {
    width: 30px;
    height: 29px;
    padding: 0;
    opacity: 30%;
    color: $color-secondary;
    @include font (Rubik, 500);
    font-size: 11px;
    line-height: 1;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    transition: opacity 0.3s ease;
    cursor: pointer;

    &:focus {
      outline: 3px solid #ffdd00;
    }

    &:hover {
      opacity: 60%;
    }

    &:active {
      background-color: orange;
    }
  }

  .slick-active button {
    opacity: 100%;
  }
}

.features {
  &__items {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(252, 215, 182, 0.2);
  }

  &__item {
    position: relative;
    padding: 35px 150px 35px 240px;

    &:not(:last-child) {
      border-right: 1px solid rgba(36, 63, 77, 0.1);
    }

    &::before {
      content: "";
      position: absolute;
      left: 152px;
      top: 47px;
      background-repeat: no-repeat;
    }

    &--icon1 {
      padding-left: 0;

      &::before {
        left: -75px;
        width: 52px;
        height: 54px;
        background-image: url(../images/icons/features-icon1.svg);
      }
    }

    &--icon2 {
      &::before {
        width: 55px;
        height: 37px;
        background-image: url(../images/icons/features-icon2.svg);
      }
    }

    &--icon3 {
      &::before {
        width: 54px;
        height: 53px;
        background-image: url(../images/icons/features-icon3.svg);
      }
    }
  }

  &__title {
    max-width: 200px;
    color: #414141;
    font-size: 18px;
    line-height: 2.2;
    @include line-clamp(18,
      2.2,
      2);
  }

  &__text {
    max-width: 213px;
    color: #585858;
    font-weight: 400;
    line-height: 1.9;
    @include line-clamp(16,
      1.9,
      2);

    &--text1 {
      max-width: 197px;
    }
  }
}